@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(249, 249, 249);
}

.container {
  height: 50vh;
  width: 100vw;
  position: relative;
  background-color: rgb(44, 46, 49);
}
.container #title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  position: absolute;
  left: 50%;
  top: 5%;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
  color: #ffffff;
}
.container #description {
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  color: #ffffff;
}
.container #content-box {
  position: relative;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60rem;
  height: 35rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.container #content-box #content-box-header {
  position: relative;
  height: 12rem;
  width: 60rem;
  background-color: rgb(249, 249, 249);
  border-bottom: 0.1rem solid #dddddd;
}
.container #content-box #content-box-header #avatar {
  position: relative;
  top: 4rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 0.1rem solid #dddddd;
  display: grid;
  place-items: center;
  z-index: 2;
  cursor: pointer;
}
.container #content-box #content-box-header #avatar:hover #newBtn {
  visibility: visible;
}
.container #content-box #content-box-header #avatar img {
  width: 13rem;
  height: 13rem;
  border-radius: inherit;
}
.container #content-box #content-box-header #avatar #newBtn {
  position: absolute;
  width: 6rem;
  height: 3rem;
  border: none;
  color: #ffffff;
  border-radius: 0.3rem;
  background-color: rgb(44, 46, 49);
  left: 50%;
  top: 13rem;
  z-index: 3;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  cursor: pointer;
  visibility: hidden;
}
.container #content-box #content-box-body {
  position: relative;
}
.container #content-box #content-box-body #meta-content {
  position: absolute;
  top: 9rem;
  left: 50%;
  font-size: 1.5rem;
  color: #333333;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.container #content-box #content-box-body #meta-name {
  position: absolute;
  top: 11rem;
  left: 50%;
  font-size: 2rem;
  color: #333333;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  display: inline-block;
}
.container #content-box #content-box-body #menu {
  position: absolute;
  top: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container #content-box #content-box-body #menu .menu-item {
  font-size: 2rem;
  margin: 0.2rem 4rem;
  color: #333333;
  cursor: pointer;
}
.container #content-box #content-box-body #menu .menu-item:hover {
  color: green;
}
.container #content-box #content-box-body #menu .active {
  color: green;
}